<html>
<header>
    <title>Profile Settings</title>
    <!--CSS-->
    <link rel="stylesheet" href="../styles/main-style.css">
    <link rel="stylesheet" href="../styles/myProfile-style.css">
    <!--Font Styles-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Red Hat Text' rel='stylesheet'>
    <!--RemixIcon-->
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <!--Script-->
    <script src="/script/tab"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script>
         $(document).ready(function(){
            const urlParams = new URLSearchParams(window.location.search);
            const userID = parseInt(urlParams.get('userID'));

            if(userID){
                $('form').attr('action', `/home/editProfile?userID=${userID}`);
                $('#myProfile').attr('href', `/home/myProfile?userID=${userID}`);
            }
        });          
    </script>
</header>
<body>
    <div class="page">
        <img class="page-background" src="../images/lab.jpg" alt="Lab Background">
        <div class="page-overlay">
            <div class="page-container">
                <div class="header">
                    <span class="header-menu"><i class="ri-menu-line"></i></span>
                    <span class="header-title">Laboratory Reservation System</span>
                    <span class="header-down"><i class="ri-arrow-down-s-fill"></i></span>
                    <span class="header-name">Hello, <a href="" id="myProfile">{{user.firstName}}</a>!</span>
                    <span class="header-profile"><img src="../images/user-icon.png" alt=""></span>
                </div>
                <div class="logout-dropdown">
                    <div class="logout-dropdown-content">
                        <a href="/main/login">Logout</a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-content">
                        <h1><a href="/home/home-dashboard?userID={{user.userID}}">Dashboard</a></h1>
                        <div class="menu-option"><a href="/home/myProfile?userID={{user.userID}}">My Profile</a></div>
                        <div class="menu-option"><a href="/home/search?userID={{user.userID}}">Search</a></div>
                        <div class="menu-option"><a href="/home/reservation?userID={{user.userID}}">Reservations</a></div>
                        <div class="menu-option"><a href="/home/FAQs">FAQs</a></div>
                    </div>
                </div>
                <div class="content">
                    <div class="content-box">
                        <div class = "myprofilecontainer">
                            <div class = "upcomingSched-container">
                                <div class="sched-header">Upcoming Reservation</div>
                                {{#if upcomingClasses.length}}
                                {{#each upcomingClasses}}
                                <div class="schedule-container">
                                    <div class="datetime">
                                        <h1>{{this.date}}</h1> <br>
                                        <h2> {{this.time}} </h2>
                                    </div>
                                    <div class="class-detail">
                                        <p>Class: <span>{{this.className}} </span></p><br>
                                        <p>Section: <span>{{this.section}} </span></p>
                                    </div>
                                </div>
                                {{/each}}
                                {{else}}
                                <p>No Upcoming Schedules</p>
                                {{/if}}
                            </div>

                            <div class = "pastReservations-container">
                                <div class="sched-header">Past Reservation</div>
                                {{#each pastClasses}}
                                <div class = "schedule-container">
                                    <div class = "datetime">
                                        <h1> {{this.date}} </h1> <br>
                                        <h2> {{this.time}} </h2>
                                    </div>
                                    <div class="class-detail">
                                        <p>Class: <span>{{this.className}} </span></p><br>
                                        <p>Section: <span>{{this.section}} </span></p>
                                    </div>
                                </div>
                                {{/each}}
                            </div>

                            <div class = "myprofileholder-container">
                                 <div class="profile-container">
                                    <img class="profilepicture-icon" src="../images/Corpuz, Nicole Ashley L..png" alt="Profile Picture">
                                    <p>{{view.userID}}</p>
                                </div>
                                <div class="profile-details">
                                    <h1>My Profile</h1><br>
                                    <p>Full Name: <span>{{view.firstName}} {{view.middleName}} {{view.lastName}}</span></p>
                                    <p>Email: <span>{{view.email}}</span></p>
                                    <p>Display Name: <span>{{userDetails.displayName}}</span></p>
                                    <p>Description: </p>
                                    <p class="description">{{userDetails.userDescription}}</p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
